
@{
    ViewBag.Title = "Index";
}

<h1><center>Welcome to Mission  Central!</center></h1>

<center>
    <div class="jumbotron">
        <img src="~/Content/Images/countries.jpg" width="500" />
        <br>
        <br>
        <input type="button" class="btn btn-info btn-lg" value="See Missions!" onclick="location.href='@Url.Action("ChooseMission", "Missions")'" />  | 
        <input type="button" class="btn btn-info btn-lg" value="About" onclick="location.href='@Url.Action("About")'" />  | 
        <input type="button" class="btn btn-info btn-lg" value="Contact" onclick="location.href='@Url.Action("Contact")'" />
        <br>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Zv4jNPTnfKI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
</center>