
@{
    ViewBag.Title = "Index";
}

<h1><center>Welcome to Mission  Central!</center></h1>
<h3><center>It's almost the Second Coming! If you don't know what this means or want to live forever, click below!</center></h3>
<br />
<center><input type="button" class="btn btn-info btn-lg" value="Get Saved" onclick="location.href='@Url.Action("GetSaved")'" /></center>
<br />
<center>
    <div class="jumbotron">
        <img src="~/Content/Images/countries.jpg" width="500" />
        <br>
        <br>
        <input type="button" class="btn btn-info btn-lg" value="See Missions!" onclick="location.href='@Url.Action("ChooseMission", "Missions")'" />  |
        <input type="button" class="btn btn-info btn-lg" value="About" onclick="location.href='@Url.Action("About")'" />  |
        <input type="button" class="btn btn-info btn-lg" value="Contact" onclick="location.href='@Url.Action("Contact")'" />
        <br>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Zv4jNPTnfKI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</center>